<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<!-- <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/> -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
/>

<div class="intro">
  <div class="intro--title">
    <h1 class="intro--title--title">Declaraciones</h1>
    <p class="intro--title--resumen">
      Elige la opción que desees para la creación de nuevas declaraciones, ya
      sea de forma manual, simples o múltiples o mediante un archivo de
      declaraciones
    </p>
  </div>
  <div class="intro--config">
    <p class="intro--config--title">MESES ABIERTOS A DECLARACIONES</p>
    <div class="intro--config--option">
      <span class="material-symbols-outlined">settings</span
      ><span class="intro--config--p">Configurar</span>
    </div>
  </div>
</div>

<div class="archivos">
  <a href="/informes"
    ><span class="material-symbols-outlined"> drive_file_rename_outline </span
    >CREAR</a
  >
  <a href="/informes"
    ><span class="material-symbols-outlined"> upload_file </span>SUBIR
    ARCHIVO</a
  >
  <a href="/informes"
    ><span class="material-symbols-outlined"> history </span>HISTÓRICO DE
    ARCHIVOS</a
  >
</div>

<div class="declaraciones">
  <div class="filtrar">
    <div><p>Filtrar</p></div>
    <div><input type="date" /></div>
    <div>
      <div>ENE</div>
      <div>FEB</div>
      <div>MAR</div>
      <div>ABR</div>
      <div>MAY</div>
      <div>JUN</div>
      <div>JUL</div>
      <div>AGO</div>
      <div>SEP</div>
      <div>OCT</div>
      <div>NOV</div>
      <div>DIC</div>
    </div>
    <div>
      <input type="search" placeholder="Buscar" />
      <!-- <span class="material-symbols-outlined"> search </span> -->
    </div>
  </div>

  <div class="gestion">
    <div>
      <p>Gestión de declaraciones</p>
      <p>ago 1, 2022 - ago 31, 2022</p>
    </div>
    <div>
      <div><p>NÚMERO ENTRADAS</p></div>
      <span>58/</span><span>691.526,00 kg</span>
    </div>
    <div>
      <div><p>NÚMERO SALIDAS</p></div>
      <span>0/</span><span>0,00 kg</span>
    </div>
    <a href="/informes"
      ><div>
        <span class="material-symbols-outlined"> swap_vert </span>
        <p>Exportar</p>
      </div></a
    >
  </div>
  <p-table
    #dt
    [value]="datos"
    dataKey="id"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} declaraciones"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Nº REFERENCIA<span class="material-symbols-outlined arrows">
            sync_alt
          </span>
        </th>
        <th pSortableColumn="country.name">
          TIPO<span class="material-symbols-outlined arrows"> sync_alt </span>
        </th>
        <th pSortableColumn="representative.name">
          CANTIDAD<span class="material-symbols-outlined arrows">
            sync_alt
          </span>
        </th>
        <th pSortableColumn="date">
          ORIGEN (PROVINCIA)<span class="material-symbols-outlined arrows">
            sync_alt
          </span>
        </th>
        <th pSortableColumn="status">
          FECHA<span class="material-symbols-outlined arrows"> sync_alt </span>
        </th>
        <th pSortableColumn="activity">
          % OLEOSO<span class="material-symbols-outlined arrows">
            sync_alt
          </span>
        </th>
        <th pSortableColumn="activity">INCIDENCIA</th>
        <th></th>
        <th pSortableColumn="activity">ACCIONES</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dato>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="dato"></p-tableCheckbox>
        </td>
        <td>
          <span class="image-text">{{ dato.id }}</span>
        </td>
        <td>
          <span class="image-text">{{ dato.tipo }}</span>
        </td>
        <td>
          <span class="image-text">{{ dato.cantidad }}</span>
        </td>
        <td>
          <span class="image-text">{{ dato.origen }}</span>
        </td>
        <td>
          <span class="image-text">{{ dato.fecha }}</span>
        </td>
        <td>
          <span class="image-text">{{ dato.oleoso }}</span>
        </td>
        <td>
          <span class="material-symbols-outlined"> notifications_active </span
          ><span class="image-text">{{ dato.incidencia.alert }}</span
          ><span class="material-symbols-outlined"> update </span
          ><span class="image-text">{{ dato.incidencia.history }}</span>
        </td>
        <td><span class="material-symbols-outlined"> draft </span>Ver PDF</td>
        <td><span class="material-symbols-outlined"> more_vert </span></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
