<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div class="intro">
  <div class="intro--title">
    <h1 class="intro--title--title">Declaraciones</h1>
    <p class="intro--title--resumen">
      Elige la opción que desees para la creación de nuevas declaraciones, ya
      sea de forma manual, simples o múltiples o mediante un archivo de
      declaraciones
    </p>
  </div>
  <div class="intro--config">
    <p class="intro--config--title">MESES ABIERTOS A DECLARACIONES</p>
    <div class="intro--config--option">
      <span class="material-symbols-outlined">settings</span
      ><span class="intro--config--p">Configurar</span>
    </div>
  </div>
</div>

<div class="archivos">
  <a href="/informes"
    ><span class="material-symbols-outlined"> drive_file_rename_outline </span
    >CREAR</a
  >
  <a href="/informes"
    ><span class="material-symbols-outlined"> upload_file </span>SUBIR
    ARCHIVO</a
  >
  <a href="/informes"
    ><span class="material-symbols-outlined"> history </span>HISTÓRICO DE
    ARCHIVOS</a
  >
</div>

<div class="declaraciones">
  <div class="filtrar">
    <div><p>Filtrar</p></div>
    <div><input type="date" /></div>
    <div>
      <span>ENE</span>
      <span>FEB</span>
      <span>MAR</span>
      <span>ABR</span>
      <span>MAY</span>
      <span>JUN</span>
      <span>JUL</span>
      <span>AGO</span>
      <span>SEP</span>
      <span>OCT</span>
      <span>NOV</span>
      <span>DIC</span>
    </div>
    <input type="search" />
  </div>
</div>
