<nav class="navbar">
  <a class="button" routerLink="/">
    <div class="navbar--logo">
      sigaus <img src="../../assets/icon.png" alt="logo" width="25px" />
    </div>
  </a>

  <div class="navbar--menu">
    <a class="button" routerLink="/">INICIO</a>
    <a class="button" routerLink="/declaraciones">DECLARACIONES</a>
    <a class="button" routerLink="/instalaciones">INSTALACIONES</a>
    <a class="button" routerLink="/incidencias">INCIDENCIAS/ALERTAS</a>
    <a class="button" routerLink="/financiacion">FINANCIACION</a>
    <a class="button" routerLink="/informes">INFORMES</a>
  </div>

  <div class="navbar--incidencias">
    <img
      src="../../assets/notifications.svg"
      alt="Icono notificaciones"
      width="20px"
    />
    <a class="button" routerLink="/">INCIDENCIAS</a>
    <img
      src="../../assets/graphic.png"
      alt="Grafico de incidencias"
      width="50px"
    />
  </div>

  <div class="navbar--perfil">
    <img src="../../assets/profile.svg" alt="Icono perfil" width="20px" />
    <a class="button" routerLink="/">PERFIL</a>
  </div>

  <div class="navbar--logout">
    <a class="button" routerLink="/"
      ><img src="../../assets/logout.svg" alt="Icono logout" width="20px"
    /></a>
  </div>
</nav>
