<nav class="navbar">
  <div class="navbar--logo">
    <a class="button" routerLink="/">sigaus</a>
    <span><img src="../../assets/icon.png" alt="icon" width="16px" /></span>
  </div>
  <div class="navbar--menu">
    <a class="button" routerLink="/">INICIO</a>
    <a class="button" routerLink="/declaraciones">DECLARACIONES</a>
    <a class="button" routerLink="/instalaciones">INSTALACIONES</a>
    <a class="button" routerLink="/incidencias">INCIDENCIAS/ALERTAS</a>
    <a class="button" routerLink="/financiacion">FINANCIACION</a>
    <a class="button" routerLink="/informes">INFORMES</a>
  </div>
  <div class="navbar--incidencias">
    <img
      src="../../assets/notifications.svg"
      alt="notifications"
      width="16px"
    />
    <a class="button" routerLink="/informes">INCIDENCIAS</a>
  </div>
  <div class="navbar--perfil">
    <img src="../../assets/profile.svg" alt="notifications" width="16px" />
    <a class="button" routerLink="/informes">PERFIL</a>
  </div>
  <div class="navbar--logout">
    <img src="../../assets/logout.svg" alt="notifications" width="16px" />
  </div>
</nav>
