<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div>
  <div>
    <h1 class="title">Declaraciones</h1>
    <p>
      Elige la opción que desees para la creación de nuevas declaraciones, ya
      sea de forma manual, simples o múltiples o mediante un archivo de
      declaraciones
    </p>
  </div>
  <div>
    <p>MESES ABIERTOS A DECLARACIONES</p>
    <span class="material-symbols-outlined">settings</span
    ><span>Configurar</span>
  </div>
</div>
